<div class="workflow-listing flex flex-col p-5 mx-5 mb-5 shadow-lg rounded">
    <div class="mb-3 flex justify-end">
        <button
            class="w-[10%] mr-2 rounded shadow-lg"
            nz-button
            nzType="default"
            (click)="newWorkflow()"
        >Create New</button>
        <input type="text" nz-input placeholder="Search" [ngModel]="searchString" (ngModelChange)="searchString = $event" (keyup)="filterListing($event)" class="w-1/6 rounded drop-shadow-lg"/>
    </div>
    <div>
        <ag-grid-angular    
            style="width: auto; height: 600px;" 
            class="ag-theme-alpine"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            (gridReady)="onGridReady($event)"
            [pagination]="true"
            [frameworkComponents]="frameworkComponents"></ag-grid-angular>
    </div>
</div>
