<div class="header flex justify-between items-center p-2 m-3 shadow-md rounded bg-white">
    <div class="text-lg">
        <img src="/assets/logo/cloud-map.png" class="w-[160px]">
    </div>
    <div class="flex items-center">
        <span (click)="navigate('/account-information')" class="flex align-middle mr-2 cursor-pointer">
            <em class="ph-gear text-3xl"></em>
        </span>
        <span class="cursor-pointer">
            <nz-avatar nzText="AC" class="text-[#707070] bg-white border-[#707070] border"></nz-avatar>
        </span>
    </div>
</div>