<div class="header flex justify-between items-center p-5 m-5 shadow-lg rounded">
    <div class="text-lg">
        <img src="../../../../../assets/logo/cloud-map.png" class="w-[160px]">
    </div>
    <div class="flex items-center">
        <span class="mr-2 cursor-pointer">
            <em class="ph-gear text-3xl"></em>
        </span>
        <span class="cursor-pointer">
            <nz-avatar nzText="AC" class="text-[#707070] bg-white border-[#707070] border"></nz-avatar>
        </span>
    </div>
</div>