<div class="draw-flow-poc">
    <header class="p-3">
      <div class="flex justify-between items-center" [formGroup]="formGroup">
        <div class="flex">
          <input type="text" nz-input formControlName="title" class="mb-1 rounded shadow-lg" placeholder="Name your diagram"/>
        </div>
        <div class="flex">
          <nz-tag
            *ngFor="let tag of diagramTags.controls; let i = index"
            [nzMode]="'closeable'"
          >
            {{ sliceTagName(tag.value) }}
          </nz-tag>
          <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
            <span nz-icon nzType="plus"></span>
            New Tag
          </nz-tag>
          <input
            #inputElement
            nz-input
            nzSize="small"
            *ngIf="inputVisible"
            type="text"
            [(ngModel)]="inputValue"
            [ngModelOptions]="{standalone: true}"
            style="width: 78px;"
            (blur)="handleInputConfirm()"
            (keydown.enter)="handleInputConfirm()"
          />
          <em (click)="back()" class="ph-sign-out text-xl cursor-pointer"></em>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <div class="col" style="text-align: center">
        <ng-container *ngFor="let node of nodes">
          <div
            class="drag-drawflow"
            draggable="true"
            (dragstart)="onDragStart($event)"
          >
            {{ node.name }}
          </div>
          <ng-container *ngIf="node.id === 4">
            <label>Inputs:</label>
            <input
              type="number"
              [(ngModel)]="node.inputs"
              min="0"
              style="width: 30px"
            />
            <label> Outputs:</label>
            <input
              type="number"
              [(ngModel)]="node.outputs"
              min="0"
              style="width: 30px"
            />
          </ng-container>
        </ng-container>
        <br>
      </div>
      <!-- <button (click)="addImage(selectedItem)">Add Image</button> -->
      <div class="col-right">
        <!-- <div
          class="btn-export"
          onclick="Swal.fire({ title: 'Export',
          html: '<pre><code>'+JSON.stringify(editor.export(), null,4)+'</code></pre>'
          })"
        >
          Export
        </div> -->
        <div
          id="drawflow"
          (dragenter)="onDragEnter($event)"
          (dragleave)="onDragLeave($event)"
          (dragover)="onDragOver($event)"
          (dragend)="onDragEnd($event)"
          (drop)="onDrop($event)"
        >
          <div class="btn-submit" (click)="onSubmit()">Save</div>
          <div class="btn-clear" (click)="onClear()">Clear</div>
          <!-- <div class="btn-ed" (click)="initializeList(1)">Select Node</div> -->
          <div class="btn-lock">
            <em (click)="changeMode()" class="ph-lock-simple"></em>
            <!-- <button
              (click)="changeMode()"
              [ngStyle]="{ display: locked ? 'block' : 'none' }"
            >
              Unlock
            </button> -->
          </div>
          <div class="bar-zoom">
            <em class="ph-magnifying-glass-minus" (click)="onZoomOut()"></em>
            <em class="ph-magnifying-glass" (click)="onZoomReset()"></em>
            <em class="ph-magnifying-glass-plus" (click)="onZoomIn()"></em>
          </div>
        </div>
      </div>
    </div>
  </div>
  