<div class="draw-flow-poc shadow-lg mx-5 p-3">
    <header class="py-3">
      <div class="flex justify-between items-center" [formGroup]="formGroup">
        <div class="flex">
          <span (click)="showInputOnClick()" *ngIf="!isEditInput && isEdit" class="text-lg font-medium"> {{ formGroup.value.title }} </span>
          <input type="text" *ngIf="isEditInput || !isEdit" nz-input formControlName="title" 
            class="mb-1 rounded shadow-lg" placeholder="Name your diagram" (keyup.enter)="showInputOnClick()"/>
        </div>
        <div class="flex">
          <nz-tag
            *ngFor="let tag of diagramTags.controls; let i = index"
            [nzMode]="'closeable'"
            class="editable-tag rounded-full flex items-center"
          >
            {{ sliceTagName(tag.value) }}
          </nz-tag>
          <nz-tag *ngIf="!inputVisible" class="editable-tag plus border-none bg-none flex" nzNoAnimation (click)="showInput()">
            <em class="ph-plus text-lg"></em>
          </nz-tag>
          <input
            #inputElement
            nz-input
            nzSize="small"
            *ngIf="inputVisible"
            type="text"
            [(ngModel)]="inputValue"
            [ngModelOptions]="{standalone: true}"
            style="width: 78px;"
            (blur)="handleInputConfirm()"
            (keydown.enter)="handleInputConfirm()"
          />
        </div>
        <div>
          <span class="rounded-full p-1 flex items-center bg-[#707070] text-white">
            <em (click)="back()" class="ph-x text-xl cursor-pointer"></em>
          </span>
        </div>
      </div>
    </header>
    <div class="wrapper border border-gray-400 rounded-xl">
      <div class="col flex flex-col justify-between content-center items-center mt-2 pb-5">
        <div>
          <ng-container *ngFor="let node of nodes">
            <div class="flex justify-center" draggable="true" (dragstart)="onDragStart($event)" data-node="node.name">
              <img class="flex mini-card w-44" name="{{node.name}}" src="{{node.imgPath}}" alt="node img" [id]="node.id">
            </div>
          </ng-container>
        </div>
        <div class="flex flex-col items-center w-full">
          <button
            class="rounded shadow-lg mb-1 w-4/5"
            nz-button
            nzType="default"
            (click)="onSubmit()"
          >SAVE</button>
          <span class="text-[10px]">VERSION 0.001</span>
        </div>
      </div>
      <!-- <button (click)="addImage(selectedItem)">Add Image</button> -->
      <div class="col-right">
        <!-- <div
          class="btn-export"
          onclick="Swal.fire({ title: 'Export',
          html: '<pre><code>'+JSON.stringify(editor.export(), null,4)+'</code></pre>'
          })"
        >
          Export
        </div> -->
        <div
          id="drawflow"
          (dragenter)="onDragEnter($event)"
          (dragleave)="onDragLeave($event)"
          (dragover)="onDragOver($event)"
          (dragend)="onDragEnd($event)"
          (drop)="onDrop($event)"
        >
          <!-- <div class="btn-clear" (click)="onClear()">Clear</div> -->
          <div class="btn-lock color-[#555555]">
            <em class="ph-share-network mr-2"></em>
            <em (click)="changeMode()" [ngClass]="{'ph-lock-simple': this.locked, 'ph-lock-open': !this.locked}"></em>
          </div>
        </div>
      </div>
    </div>
  </div>
