@import 'src/styles.scss';


.main-box {
  height: calc(100vh - 90px);
  font-family: 'Roboto', sans-serif;
}

.drag-drawflow {
  line-height: 50px;
  border-bottom: 1px solid black;
  padding-left: 20px;
  cursor: move;
  user-select: none;
}

#drawflow {
  position: relative;
  width: calc(100vw - 220px);
  height: calc(100%);
}

@media only screen and (max-width: 768px) {
  .col {
    width: 50px;
  }

  .col .drag-drawflow span {
    display: none;
  }

  #drawflow {
    width: calc(100vw - 51px);
  }
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}

.parent-drawflow {
  display: flex;
  overflow: hidden;
  touch-action: none;
  outline: none;
}

.drawflow {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  perspective: 0;
}

.drawflow .parent-node {
  position: relative;
}

.title-input{
  width: 380px;
  border: 1px solid white;
  font-weight: 500;
  font-size: 15px;
  &:hover{
    border: 1px solid rgb(225, 225, 225);
  }
  &:focus{
    border: 1px solid rgb(124, 182, 209);
  }
  &::placeholder{
    font-weight: 200;
  }
}

