@import 'src/styles.scss';

// .mini-card{
//   height: 20px;
// }
.draw-flow-poc {

  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

header a {
  color: black;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 225px);
  display: flex;
}

.col {
  overflow: auto;
  width: 220px;
  height: 100%;
  // border-right: 1px solid black;
}

.drag-drawflow {
  line-height: 50px;
  border-bottom: 1px solid black;
  padding-left: 20px;
  cursor: move;
  user-select: none;
}

.menu {
  position: absolute;
  height: 40px;
  display: block;
  background: white;
  width: 100%;
}

.menu ul {
  padding: 0px;
  margin: 0px;
  line-height: 40px;
}

.menu ul li {
  display: inline-block;
  margin-left: 10px;
  border-right: 1px solid $border-color;
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer;
}

.menu ul li.selected {
  font-weight: bold;
}

.btn-submit {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid #0e5ba3;
  background: #4ea9ff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-clear {
  float: right;
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-weight: bold;
  border: 1px solid #96015b;
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-lock {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: flex;
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 5;
  cursor: pointer;
}

.bar-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid $border-color;
  z-index: 5;
}

.bar-zoom svg {
  cursor: pointer;
  padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
  padding-left: 0px;
}

#drawflow {
  position: relative;
  width: calc(100vw - 220px);
  height: calc(100%);
  background: #ebecec;
  background-size: $dfBackgroundSize $dfBackgroundSize;
  background-image: $dfBackgroundImage;
  border-radius: 0 15px 15px 0;
}

@media only screen and (max-width: 768px) {
  .col {
    width: 50px;
  }

  .col .drag-drawflow span {
    display: none;
  }

  #drawflow {
    width: calc(100vw - 51px);
  }
}

/* Editing Drawflow */




// .drawflow-node input,
// .drawflow-node select,
// .drawflow-node textarea {
//   border-radius: 4px;
//   border: 1px solid $border-color;
//   height: 30px;
//   line-height: 30px;
//   font-size: 16px;
//   width: 158px;
//   color: #555555;
// }

// .drawflow-node textarea {
//   height: 100px;
// }


// .drawflow-node.personalized {
//   background: red;
//   height: 200px;
//   text-align: center;
//   color: white;
// }

// .drawflow-node.personalized .input {
//   background: yellow;
// }

// .drawflow-node.personalized .output {
//   background: green;
// }

// .drawflow-node.personalized.selected {
//   background: blue;
// }



/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}

.parent-drawflow {
  display: flex;
  overflow: hidden;
  touch-action: none;
  outline: none;
}

.drawflow {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  perspective: 0;
}

.drawflow .parent-node {
  position: relative;

}

