<div class="main cm-fom p-4 h-full">
    <div class="card-main p-4 h-full">
        <div class="incard flex flex-col lg:flex-row flex-md-nowrap h-full">
            <div class="flex-1 border-r p-3 h-full">
                <div class="heading mb-3">Create New Account</div>
                <form
                    class="w-full max-w-2xl"
                    [formGroup]="createAccountFormGroup"
                >
                    <span formGroupName="sendCodeSubGroup">
                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full md:w-1/2 px-3">
                                <div
                                    class="field px-3 py-1"
                                    [ngClass]="{'use-for-required': !createAccountFormGroup.get('sendCodeSubGroup')?.value?.fullName}"
                                >
                                    <label
                                        class="block w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                        for="grid-last-name"
                                    >Full Name</label>
                                    <input
                                        type="text"
                                        placeholder="Enter Full Name"
                                        formControlName="fullName"
                                        class="appearance-none block w-full focus:outline-none focus:bg-white"
                                    >
                                </div>
                                <div
                                    *ngIf="!createAccountFormGroup.get('sendCodeSubGroup')?.value?.fullName"
                                    class="activated-text pl-4 pt-1 text-red-500 text-right"
                                >Required Field</div>
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <div
                                    class="field px-3 py-1"
                                    [ngClass]="{'use-for-required': !createAccountFormGroup.get('sendCodeSubGroup')?.value?.email}"
                                >
                                    <label
                                        class="block w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                        for="grid-last-name"
                                    >Email</label>
                                    <input
                                        type="email"
                                        formControlName="email"
                                        placeholder="Enter Email"
                                        class="appearance-none block w-full focus:outline-none focus:bg-white"
                                    >
                                </div>
                                <div
                                    *ngIf="!createAccountFormGroup.get('sendCodeSubGroup')?.value?.email"
                                    class="activated-text pl-4 pt-1 text-red-500 text-right"
                                >Required Field</div>
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-0">
                            <div class="w-full md:w-1/2 px-3">
                                <div
                                    class="field px-3 py-1"
                                    [ngClass]="{'use-for-required': !createAccountFormGroup.get('sendCodeSubGroup')?.value?.company}"
                                >
                                    <label class="block w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                        for="grid-last-name"
                                    >Company</label>
                                    <input
                                        type="text"
                                        formControlName="company"
                                        placeholder="Enter Company"
                                        class="appearance-none block w-full focus:outline-none focus:bg-white"
                                    >
                                </div>
                                <div
                                    *ngIf="!createAccountFormGroup.get('sendCodeSubGroup')?.value?.company"
                                    class="activated-text pl-4 pt-1 text-red-500 text-right"
                                >Required Field</div>
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <div class="field px-3 py-1">
                                    <label class="block w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                        for="grid-last-name">
                                        Position
                                    </label>
                                    <input
                                        type="text"
                                        formControlName="position"
                                        placeholder="Enter Position"
                                        class="appearance-none block w-full focus:outline-none focus:bg-white"
                                    >
                                </div>
                            </div>
                        </div>
                    </span>
                    <div class="flex justify-end mb-6">
                        <button
                            type="button"
                            (click)="sendCodeClicked()"
                            class="cm-btn"
                        >SEND CODE</button>
                    </div>
                    <span
                        *ngIf="showValidateSubGroup"
                        formGroupName="validateSubGroup"
                    >
                        <div class="flex flex-wrap -mx-3 mb-0 justify-end">
                            <div class="w-full md:w-1/2 px-3">
                                <div
                                    class="field px-3 py-1 mb-4"
                                    [ngClass]="{'use-for-required': !createAccountFormGroup.get('validateSubGroup')?.value?.code}"
                                >
                                    <label
                                        for="grid-last-name"
                                        class="block w-full uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    >Code</label>
                                    <input
                                        formControlName="code"
                                        placeholder="Enter Code"
                                        class="appearance-none block w-full focus:outline-none focus:bg-white"
                                    >
                                </div>
                                <div
                                    *ngIf="!createAccountFormGroup.get('validateSubGroup')?.value?.code"
                                    class="activated-text pl-4 pt-1 text-red-500 text-right"
                                >Required Field</div>
                            </div>
                        </div>
                        <div class="flex justify-end mb-6">
                            <button
                                type="button"
                                (click)="onValidateCodeClicked()"
                                class="cm-btn"
                                [disabled]="createAccountFormGroup.controls.validateSubGroup.status === 'INVALID'"
                            >VALIDATE</button>
                        </div>
                    </span>
                    <span *ngIf="showPasswordSubGroup" formGroupName="passwordSubGroup">
                        <div class="flex flex-wrap -mx-3 mb-0">
                            <div class="w-full md:w-1/2 px-3">
                                <div
                                    class="field px-3 py-1 mb-4"
                                    [ngClass]="{'use-for-required': !createAccountFormGroup.get('passwordSubGroup')?.value?.password}"
                                >
                                    <nz-input-group class="focus:shadow-none border-none" [nzSuffix]="suffixTemplate">
                                        <input
                                            nz-input
                                            formControlName="password"
                                            [type]="passwordVisible ? 'text' : 'password'"
                                            placeholder="Enter Password"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixTemplate>
                                        <span
                                            nz-icon
                                            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                            (click)="passwordVisible = !passwordVisible"
                                        ></span>
                                    </ng-template>
                                </div>
                                <div
                                    *ngIf="!createAccountFormGroup.get('passwordSubGroup')?.value?.password"
                                    class="activated-text pl-4 pt-1 text-red-500 text-right"
                                >Required Field</div>
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <div
                                    class="field px-3 py-1 mb-4"
                                    [ngClass]="{'use-for-required': !createAccountFormGroup.get('passwordSubGroup')?.value?.confirmPassword}"    
                                >
                                    <nz-input-group class="border-none focus:shadow-none" [nzSuffix]="suffixTemplateConfirmPassword">
                                        <input
                                            formControlName="confirmPassword"
                                            [type]="confirmPasswordVisible ? 'text' : 'password'"
                                            nz-input
                                            placeholder="Enter Confirm Password"
                                        />
                                    </nz-input-group>
                                    <ng-template #suffixTemplateConfirmPassword>
                                        <span
                                            nz-icon
                                            [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                                            (click)="confirmPasswordVisible = !confirmPasswordVisible"
                                        ></span>
                                    </ng-template>
                                </div>
                                <div
                                    *ngIf="!createAccountFormGroup.get('passwordSubGroup')?.value?.confirmPassword"
                                    class="activated-text pl-4 pt-1 text-red-500 text-right"
                                >Required Field</div>
                            </div>
                        </div>
                        <div class="form-check mb-6">
                            <label
                                id="flexCheckDefault"
                                nz-checkbox
                                formControlName="isAgreeOnCondition"
                            ></label>
                            <label
                                for="flexCheckDefault"
                                class="ml-2 form-check-label inline-block text-gray-800"
                            >
                                By checking this box, you agree with the Terms & Conditions stated on the right side of your
                                screen.
                            </label>
                        </div>
                        <div class="flex justify-end mb-6">
                            <button
                                type="submit"
                                class="cm-btn"
                                [disabled]="createAccountFormGroup.status === 'INVALID'"
                                (click)="onAccountCreationSaveClicked()"
                            >CREATE ACCOUNT</button>
                        </div>
                    </span>
                </form>
                <div class="brought-by py-4 flex justify-center items-center">
                    <span class="text-center">Brought to you by</span>
                    <img
                        class="w-1/4"
                        src="/assets/logo/mfg-logo.png"
                        alt="mfg-logo.alt"
                    >
                </div>
            </div>
            <div class="flex-1 p-4"></div>
        </div>
    </div>
</div>
<div class="footer-text p-4 text-center">
    CloudMap All Rights Reserved 2022
</div>
