/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";

@import "~ng-zorro-antd/ng-zorro-antd.min.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



//////////////////////////////////////////////////////////////////////////////////////
/////////////////////// DRAWFLOW THEME START /////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

$border-color: black;
$dfBackgroundSize: 0px;
$dfBackgroundImage: none;

.drawflow .drawflow-node{
  display: flex !important;
  width: auto !important;
  border-radius: 4px !important;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.29) !important;
  box-shadow:  0px 2px 3px 2px rgba(0, 0, 0, 0.29) !important;
  border: 1px  solid #929292 !important;
  .drawflow_content_node{
    height: auto;
  }

  #textarea{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100%;
    height: auto;
    resize: none;
    white-space: normal;
    text-align: justify;
    text-align-last: center;
    &:focus{
      border: none;
      outline: none;
    }
  }
  &:hover{
    border: 1px  solid #5a5a5a !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0px 1px 3px 2px rgba(1, 1, 1, 0.47) !important;
    box-shadow:  0px 1px 3px 2px rgba(1, 1, 1, 0.47) !important;
  }
  &.selected{
    border: 1px  solid #5a5a5a !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0px 1px 3px 2px rgba(1, 1, 1, 0.47) !important;
    box-shadow:  0px 1px 3px 2px rgba(1, 1, 1, 0.47) !important;
  }
}

// MANILLA CARD //////////////////////////////////////////////////////////////////////////

.drawflow .drawflow-node.mani-card {
  background-color: #efe1b3 !important;
  color: #5b5a53 !important;
  min-height: 40px !important;
  min-width: 180px !important;
  .mani-card-textarea{
    background-color: #efe1b3  !important;
  }
  &:hover {
    background-color: #eedb9d !important;
    .mani-card-textarea{
      background-color: #eedb9d  !important;
    }
  }
}

.drawflow .drawflow-node.mani-card.selected {
  background-color: #eedb9d !important;
  .mani-card-textarea{
    background-color: #eedb9d !important;
  }
}

// GREEN CARD //////////////////////////////////////////////////////////////////////////

.drawflow .drawflow-node.green-card {
  background-color: #57a961 !important;
  color: #f2f8f2 !important;
  min-height: 40px !important;
  min-width: 180px !important;
  .green-card-textarea{
    font-size: 10px;
    background-color: #57a961  !important;
  }
  &:hover {
    background-color: #57a25d !important;
    .green-card-textarea{
      background-color: #57a25d  !important;
    }
  }
}

.drawflow .drawflow-node.green-card.selected {
  background-color: #4d9153 !important;
  .green-card-textarea{
    background-color: #4d9153 !important;
  }
}

// RED CARD //////////////////////////////////////////////////////////////////////////

.drawflow .drawflow-node.red-card {
  background-color: #e9684f !important;
  color: #e6cec9 !important;
  min-height: 40px !important;
  min-width: 180px !important;
  .red-card-textarea{
    font-size: 10px;
    background-color: #e9684f  !important;
  }
  &:hover {
    background-color: #e85a3e !important;
    .red-card-textarea{
      background-color: #e85a3e  !important;
    }
  }
}

.drawflow .drawflow-node.red-card.selected {
  background-color: #e85a3e !important;
  .red-card-textarea{
    background-color: #e85a3e !important;
  }
}

// ORANGE CARD //////////////////////////////////////////////////////////////////////////

.drawflow .drawflow-node.org-card {
  background-color: #ff9d00 !important;
  color: #433f38 !important;
  min-height: 40px !important;
  min-width: 440px !important;
  .org-card-textarea{
    font-size: 11px;
    background-color: #ff9d00  !important;
  }
  &:hover {
    background-color: #f09400 !important;
    .org-card-textarea{
      background-color: #f09400  !important;
    }
  }
}

.drawflow .drawflow-node.org-card.selected {
  background-color: #f09400 !important;
  .org-card-textarea{
    background-color: #f09400 !important;
  }
}

// BLUE CARD //////////////////////////////////////////////////////////////////////////

.drawflow .drawflow-node.blue-card {
  background-color: #2e70a9 !important;
  color: #d2d8dd !important;
  min-height: 40px !important;
  min-width: 440px !important;
  .blue-card-textarea{
    font-size: 11px;
    background-color: #2e70a9  !important;
  }
  &:hover {
    background-color: #2069a9 !important;
    .blue-card-textarea{
      background-color: #2069a9  !important;
    }
  }
}

.drawflow .drawflow-node.blue-card.selected {
  background-color: #2069a9 !important;
  .blue-card-textarea{
    background-color: #2069a9 !important;
  }
}

// INPUTS /////////////////////////////////////////////////////////////////////////////////

.drawflow .drawflow-node .input {
  left: -16px !important;
  background: rgba(247, 247, 247, 1) !important;
  border: 1px  solid #929292 !important;
  border-radius: 50px !important;
  height: 12px !important;
  width: 12px !important;
}

.drawflow .drawflow-node .input:hover {
  background: rgb(145, 145, 145) !important;
  border: 1px  solid #5a5a5a !important;
  border-radius: 50px!important;
}

// OUTPUTS /////////////////////////////////////////////////////////////////////////////////

.drawflow .drawflow-node .outputs {
  float: none !important;
}

.drawflow .drawflow-node .output {
  right: -5px !important;
  background: rgb(247, 247, 247) !important;
  border: 1px  solid #929292 !important;
  border-radius: 50px !important;
  height: 12px !important;
  width: 12px !important;
}

.drawflow .drawflow-node .output:hover {
  background: rgb(187, 187, 187) !important;
  border: 1px  solid #5a5a5a !important;
  border-radius: 50px !important;
}

// LINES /////////////////////////////////////////////////////////////////////////////

.drawflow .connection .main-path {
  stroke-width: 3px !important;
  // stroke: rgb(68, 109, 131) !important;
}

.drawflow .connection .main-path:hover {
  stroke: rgb(126, 151, 126) !important;
}

.drawflow .connection .main-path.selected {
  stroke: #e9684f !important;
}

.drawflow .connection .point {
  stroke: black !important;
  stroke-width: 1px !important;
  fill: rgba(247, 247, 247, 1) !important;
}

.drawflow .connection .point:hover {
  stroke: black !important;
  stroke-width: 2px !important;
  fill: white !important;
}

.drawflow-delete {
  display: block !important;
  color: rgb(125, 125, 125) !important;
  background: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgb(125, 125, 125)  !important;
  border-radius: 50px !important;
}

.parent-node .drawflow-delete {
  top: -16px !important;
}

.drawflow-delete:hover {
  color: rgba(255, 255, 255, 1) !important;
  background: rgb(125, 125, 125) !important;
  border: 1px solid rgba(255, 255, 255, 1)  !important;
  border-radius: 50px !important;
}


//////////////////////////////////////////////////////////////////////////////////////
/////////////////////// DRAWFLOW THEME END ///////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

.ant-tag.plus {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
