/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";

@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.drawflow .drawflow-node.selected{
    background: #f7f7f7 !important;
    border: 1px solid #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff !important;
    box-shadow: 0 2px 20px 2px #4ea9ff !important;
}
.drawflow .drawflow-node{
    width: auto !important;
    background: #f7f7f7 !important;
    border: 1px solid white !important;
    -webkit-box-shadow: 0 10px 20px rgba(202, 202, 202, 1), 0 0px 5px rgba(202, 202, 202, 1) !important;
    box-shadow: 2px 10px 20px rgba(202, 202, 202, 1), 0px 0px 5px rgba(202, 202, 202, 1) !important;
    padding: 0px;
    width: 200px;
    padding: 20px !important;
}
.drawflow .drawflow-node .input{
    background: white !important;
    border: 2px solid rgb(202 202 202) !important;
    left: -33px !important;
}
.drawflow .drawflow-node .output{
    background: white !important;
    border: 2px solid rgb(202 202 202) !important;
    right: -10px !important;
}
.draw-flow-poc{
    width: 100% !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }